body {
margin: 0;
padding: 0px;
}
img.bg {
min-height: 750px;
min-width: 1280px;
width: 100%;
height: auto;
position: fixed;
top: 0;
left: 0;
z-index:-9999;
}
#content {
background:none repeat scroll 0 0 #FFFFFF;
border:7px solid #CCCCCC;
font-family:helvetica,arial,sans-serif;
font-size:18pt;
line-height:16pt;
margin:300px auto 0;
padding:20px;
position:relative;
text-align:center;
width:500px;
}
